#html {
  font-family: sans-serif;
}

#body {
  background-color: black;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

div:focus {
  outline: none;
}



#download {
  color: white;
}
#div {
  width: 250px;
  height: 600px;
  border: 10px solid #7676e3;
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 30px;
}
